@import './vendor/_meyer-reset.scss';

$color-black: #000;
$color-white: #FFF;
$color-yellow: #F1F000;
$color-blue: #0000F0;
$color-green: #01F001;
$color-cyan: #00F0F1;
$color-purple: #F200F2;
$border-width: 2em;
$font-family: Courier, sans-serif;


body {
	font-family: $font-family;
	max-height: 100vh;
	height: 100vh;
	text-align: center;
	background: $color-black;
	font-size: 1.7vmin;
}

* {
	box-sizing: border-box;
}

button {
	font-family: $font-family;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.3em;
	cursor: pointer;
	background: $color-purple;
	color: #fff;
	border: none;
	padding: 1em;
	font-size: 1.1em;

	&:hover,
	&:focus {
		background:  $color-cyan;
	}

	&.small {
		padding: 0.25em 1em;
		font-size: 1.8em;
	}

	span {
		pointer-events: none;
	}
}

section.page li,
section.game li,
p {
	color: $color-yellow;
	font-weight: bold;
	letter-spacing: 0.1em;
}

p {
	font-size: 1.1em;
	margin-bottom: 1em;
}

.content {
	height: 100%;
	border: $border-width solid $color-blue;
	display: flex;
	align-content: center;
	justify-content: center;
	background: $color-black;
}

#app {
	display: flex;
	align-items: center;
	width: 100%;
	max-height: 95vh;
	overflow-y: auto;

	section {
		width: 80%;
		max-width: 1000px;
		margin: 0 auto;

		@media (max-width: 1024px) {
			width: 95%;
		}
	}
}

#timer {
	div {
		position: fixed;
		top: 0;
		right: 0;
		border: $border-width / 2 solid $color-blue;
		padding: 0.5em 1em;
		background: $color-yellow;
		font-size: 1.5em;
		font-weight: bold;
	}
}

section.intro {
	button {
		margin-top: 3em;
	}
}

section.book {
	ul {
		margin: 4em 0;

		li {
			display: inline-block;
			margin: 0.4em;
		}
	}
}

section.game {
	.highlight {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	input {
		background: $color-blue;
		color: $color-white;
		border: none;
		font-family: $font-family;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.2em;
		width: 7.3em;
		font-size: 2em;
		padding: 0.4em 0.8em;
		margin-right: 1em;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-align: center;
	}

	ul {
		margin-top: 2em;

		li {
			color: $color-purple;
		}
	}
}

section.page {
	padding-top: 2em;

	.highlight {
		margin-top: 1em;
	}

	ul {
		text-align: left;
		column-count: 2;
		column-gap: 2em;

		li {
			font-size: 0.9em;
			border-bottom: 1px dashed rgba($color-yellow, 0.2);
		}

		.name {
			padding-right: 0.4em;
		}

		.name,
		.number {
			background: $color-black;
			display: inline-block;
			position: relative;
			bottom: -1px;
		}

		.number {
			float: right;
			padding-left: 0.4em;
		}
	}
}

section.success {
	button {
		margin-top: 3em;
	}
}

.highlight {
	color: $color-green;
	font-size: 1.5em;
}

.title {
	font-size: 0.8em;
	letter-spacing: -0.05em;
	margin-bottom: 5em;
	font-size: 1.2vw;
	color: $color-green;
}
